*, *:before, *:after {
  box-sizing: border-box;
}
body{
  font-family:sans-serif;
}
#welcome{
  color: rgb(238,125,88);
  font-size: 5em;
  text-align: center;
}
#nav{
  width: 80%;
  background: rgb(251,252,253);
  margin: 0 auto;
  border-radius: 5%;
}

.homeTable{
  margin: 0 auto;
}

table, td {
  border: 2px solid rgb(239,240,241);
  width: 80%;
}
#mainTable{
  border: 2px solid rgb(239,240,241);
}

td{
  width:50%;
}
#topTable{
  border: none;
  margin-top: 2%;
}

#topTable button{
  background: rgb(209,118,103);
  color: white;
  border: none;
  border-radius: 7%;
}

.itemH4 button{
  background: rgb(237,185,110);
  border:none;
  color: white;
  border-radius: 7%;
}

#cartTable td:nth-child(1){
  width: 38%;
}
#cartTable td:nth-child(2){
  width: 38%;
}
#cartTable td:nth-child(3){
  width:12%;
}
#cartTable td:nth-child(4){
  width:12%;
}
#totalH4{
  color: rgb(238,125,88);
}
#cartTable button{
  background: rgb(237,185,110);
  border:none;
  color: white;
  border-radius: 7%;
}
.numberInput{
width: 100px:
}

form[novalidate] input{
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}
input[required].ng-pristine{
  border-color: #e74c3c;
}

input.ng-invalid.ng-dirty{
  border-color: #e74c3c;
}

input.ng-valid.ng-dirty{
  border-color: #2ecc71;
}

.ng-hide-add{
  animation:0.9s lightSpeedOut ease;
}
.ng-hide-remove{
  animation:0.5s flipInX ease;
}
.ng-enter{
  transition:0.75s;
  opacity: 0;
}
.ng-enter-stagger{
  transition-delay:0.1s;
}
.ng-leave-stagger{
  transition-delay:0.1s;
}
.ng-enter-active{
  opacity: 1;
}

.ng-leave{
  transition:0.75s;
  opacity: 1;
}

.ng-leave-active{
  opacity: 0;
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
